node_modules
dist
build
.expo
.expo-shared
*.log
.env
.env.*
!.env.example
coverage
.turbo
.DS_Store
*.tsbuildinfo
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
android
ios
.idea
.vscode/*
!.vscode/extensions.json
